/* Colori:
Azzurro header #4ea0ff
Testo in grigio #808080
Colore azzurro "the booleaner" e intestazione tabella #20a9e5
Colore azzurro righe tabella #b1e5f2 */

header {
    background: #4ea0ff url("./img/pattern.png");
    background-size: 300px;
    padding: 30px 10px 0;
}

#logo {
    max-width: 250px;
}

main {
    padding: 10px;
}

.title-photo {
    font-size: 13px;
}

#title {
    padding-top: 10px;
    font-weight: 900;
    font-size: 40px;
}

#sub-title,
#data {
    color: #808080;
}

#sub-title {
    font-size: 20px;
}

#author {
    color: #20a9e5;
}

.tim-photo {
    padding: 20px 0;
}

ul {
    padding: 20px
}

.marked {
    background: yellow;
}

thead {
    text-align: left;
    background: #20a9e5;
    color: white;
}

.ciano {
    background: #b1e5f2;
}

.column {
    width: 25%;
}